%h1 Eloquent Javascript
%ul
  %li
    = link_to 'Notes', notes_path
  %li
    = link_to 'Test', test_path
  %li
    = link_to 'add_0_to_10.js', add_0_to_10_path
  %li
    = link_to 'compute_powers.js', compute_powers_path
